<div class="page">
    <div class="title">Register a Doctor</div>
    <img src="assets/images/femaleDoctor.png" alt="female Doctor Image" width="20%" height="40%" class="doctorphoto">
    <div class="buttons">
        <button class="register" (click)="gotoRegister()">Register</button>
    </div>
    <div class="buttons mb">
        <button class="login">Login</button>
    </div>
    <div class="buttons mb">
        <button class="View" (click)="gotoDoctors()">View Doctors</button>
    </div>
</div>